/* styles.css */
body {
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px; /* 必要に応じて調整 */
}

.profile-pic {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 60px;
    height: 70px;
    opacity: 0.5; /* ここを追加 */
}

.comment {
    position: absolute;
    top: -50px;
    left: -10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200%;
    background-color: rgba(173, 216, 230, 0.7); /* LightBlue */
}

.balloon:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(173, 216, 230, 0.7) transparent transparent transparent; /* LightBlue */
}

.intro {
    display: flex;
    justify-content: center;
    position: relative;
}

.intro-text {
    flex: 1;
}

.intro-img {
    position: absolute;
    right: 180px;
    top: -60px;
    width: 120px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro-img img {
    margin-bottom: 10px;
}

.intro-img figcaption {
    max-width: 120px;
    text-align: center;
}

.section {
    position: relative;
    padding-right: 160px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #999999;
}

.section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
    font-size: 2em;
    text-shadow: 2px 2px 4px #999999;
}

h3 {
    color: #666;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #999999;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

a {
    color: #0066cc;
    text-decoration: none;
    font-size: 1.2em;
}

figure {
    margin: 20px 0;
}

.game-images {
    display: flex;
    justify-content: space-around;
}

